In [60]:
import pandas as pd
import seaborn as sb

#df = pd.read_csv('forestfires.csv')
df_portugal = pd.read_csv('data/Portugal_Dataset.csv')
df_portugal
#sb.heatmap(df.corr(), annot = True, fmt='.1g')

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [2]:
# Remove irrelevant columns
# Location may be irrelevant because all are xy coordinates for Montesinho park
columns_to_keep_portugal = [
    'month', 
    'day', 
    'temp', 
    'RH',  # relative humidity
    'wind',  # wind speed
    'rain',  # rain amount
    'area'  # burned area
]

df_portugal = df_portugal[columns_to_keep_portugal]
df_portugal.shape

NameError: name 'df_portugal' is not defined

In [1]:
# Removing all missing data
df_portugal = df_portugal.dropna()
print(df_portugal.shape)

NameError: name 'df_portugal' is not defined

In [63]:
# Show updated dataset
df_portugal
df_portugal.to_csv('data/Portugal_Dataset_clean.csv')

In [64]:
import pandas as pd
import seaborn as sb

df_cal_weather = pd.read_csv('data/California_Weather.csv' )

#df_cal_weather

In [65]:
# Remove irrelevant columns
columns_to_keep_cal_weather = [
    'Stn Name',
    'CIMIS Region', 
    'Date', 
    'Precip (in)',
    'Avg Air Temp (F)',
    'Avg Rel Hum (%)',
    'Avg Wind Speed (mph)',
    'Wind Run (miles)'
]

df_cal_weather = df_cal_weather[columns_to_keep_cal_weather]
df_cal_weather.shape

(128125, 8)

In [66]:
# Removing all missing data
df_cal_weather = df_cal_weather.dropna()
print(df_cal_weather.shape)

(128112, 8)

In [67]:
# Show updated dataset
df_cal_weather
df_cal_weather.to_csv('data/California_Weather_clean.csv')

PermissionError: [Errno 13] Permission denied: 'data/California_Weather_clean.csv'

In [75]:
import pandas as pd
import seaborn as sb

df_cal_fire = pd.read_csv('data/California_Fire_Incidents.csv')
#df_cal_fire

In [76]:
# Remove irrelevant columns
columns_to_keep_cal_fire = [
    'AcresBurned',
    'ArchiveYear',
    'CalFireIncident',
    'Counties', 
    'Extinguished',
    'Location', 
    'MajorIncident', 
    'Started'
]

df_cal_fire = df_cal_fire[columns_to_keep_cal_fire]
df_cal_fire.shape

(1636, 8)

In [77]:
# Removing all missing data
df_cal_fire = df_cal_fire.dropna()
print(df_cal_fire.shape)

(1577, 8)

In [71]:
# Show updated dataset
df_cal_fire
df_cal_fire.to_csv('data/California_Fire_Incidents_clean.csv')

PermissionError: [Errno 13] Permission denied: 'data/California_Fire_Incidents_clean.csv'

In [78]:
# Combine the data from California Weather and California Fire
# Combine based on location and Date

# Split the Date column from California Weather into month / year
df_cal_weather['month'] = df_cal_weather['Date'].str.split('/').str[0].astype('int')
df_cal_weather['year'] = df_cal_weather['Date'].str.split('/').str[2].astype('int')



df_cal_weather

,Stn Name,CIMIS Region,Date,Precip (in),Avg Air Temp (F),Avg Rel Hum (%),Avg Wind Speed (mph),Wind Run (miles),month,year
0,FivePoints,San Joaquin Valley,1/1/2018,0.00,47.8,65.0,3.3,78.3,1,2018
1,FivePoints,San Joaquin Valley,1/2/2018,0.00,47.2,67.0,3.1,74.5,1,2018
2,FivePoints,San Joaquin Valley,1/3/2018,0.00,49.9,68.0,4.5,107.5,1,2018
3,FivePoints,San Joaquin Valley,1/4/2018,0.01,56.8,74.0,5.8,140.2,1,2018
4,FivePoints,San Joaquin Valley,1/5/2018,0.00,59.8,72.0,4.2,101.4,1,2018
...,...,...,...,...,...,...,...,...,...,...
128120,Linden,San Joaquin Valley,9/14/2020,0.00,66.3,70.0,3.4,81.7,9,2020
128121,Linden,San Joaquin Valley,9/15/2020,0.00,66.0,69.0,2.7,64.2,9,2020
128122,Linden,San Joaquin Valley,9/16/2020,0.00,68.0,69.0,3.3,78.2,9,2020
128123,Linden,San Joaquin Valley,9/17/2020,0.00,70.4,65.0,3.3,78.1,9,2020
128124,Linden,San Joaquin Valley,9/18/2020,0.00,68.4,68.0,4.0,96.7,9,2020

In [79]:
# Split the Started column from California Weather into month / year
df_cal_fire['year'] = df_cal_fire['Started'].str.split('-').str[0].astype('int')
df_cal_fire['month'] = df_cal_fire['Started'].str.split('-').str[1].astype('int')

df_cal_fire

,AcresBurned,ArchiveYear,CalFireIncident,Counties,Extinguished,Location,MajorIncident,Started,year,month
0,257314.0,2013,True,Tuolumne,2013-09-06T18:30:00Z,3 miles east of Groveland along Hwy 120,False,2013-08-17T15:25:00Z,2013,8
1,30274.0,2013,True,Los Angeles,2013-06-08T18:30:00Z,Angeles National Forest,False,2013-05-30T15:28:00Z,2013,5
2,27531.0,2013,True,Riverside,2013-07-30T18:00:00Z,Hwy 243 & Hwy 74 near Mountain Center,False,2013-07-15T13:43:00Z,2013,7
3,27440.0,2013,False,Placer,2013-08-30T08:00:00Z,"Deadwood Ridge, northeast of Foresthill",False,2013-08-10T16:30:00Z,2013,8
4,24251.0,2013,True,Ventura,2013-05-11T06:30:00Z,Southbound Highway 101 at Camarillo Springs Ro...,True,2013-05-02T07:01:00Z,2013,5
...,...,...,...,...,...,...,...,...,...,...
1627,10.0,2019,True,Riverside,2019-09-10T10:45:00Z,Bailey Road and Terwilliger Road in Anza,False,2019-09-10T10:43:58Z,2019,9
1629,10.0,2019,True,Siskiyou,2019-06-21T14:23:00Z,"Deer Run Road, east of Iron Gate Reservoir",False,2019-06-16T20:33:00Z,2019,6
1630,10.0,2019,True,Butte,2019-05-08T08:47:00Z,"Off Hamilton Nord Cana Hwy & Cana Hwy, northea...",False,2019-04-30T12:20:00Z,2019,4
1631,9.0,2019,True,Riverside,2019-10-10T18:11:00Z,"Eagle Canyon Rd. and Cajalco Rd., southwest of...",False,2019-10-10T12:08:00Z,2019,10
1632,2.0,2019,True,Nevada,2019-06-28T17:33:00Z,"Off of Long Point Road and Old Mill Road, Sou...",False,2019-06-28T15:03:04Z,2019,6

In [80]:
# Get the unique Regions/Counties of weather/fire and use 'str.replace()' to merge identical values

# Cleaning up Cal_Fire Counties to match Cal_weather Regions Choices

# San Francisco Bay
sf_bay = ['Alameda', 'Amador', 'Marin', 'Napa', 'San Mateo', 'Santa Clara', 'Sonoma']
# ?
cent_cal = ['Fresno', 'Monterey','San Joaquin Valley']
# Sacramento Valley
sac_valley = ['Butte', 'Sacramento Valley', 'Sutter', 'Yuba']
# North Coast Valleys
north_coast = ['Humboldt','Mendocino']
# ?
in_so_cal = ['Kern', 'San Bernardino']
# Los Angeles Basin
la_basin = ['Los Angeles']
# ?
great_basin = ['Modoc']
# Sierra Foothill
sierra_nv = ['Nevada', 'Sierra', 'State of Nevada']
# South Coast Valleys
so_coast = ['Orange', 'San Diego']
# Central Coast Valleys
cent_coast = ['San Luis Obispo', 'Santa Barbara', 'Santa Cruz']
# ?
shasta_cas = [ 'Shasta', 'Trinity']

# Unknown:
# Alpine, Calaveras, Colusa, Contra Costa, Del Norte, El Dorado, Glenn, Inyo, Kings, Lake, Lassen, Madera
# Mariposa, Merced, Mexico, Mono, Placer, Plumas, Riverside, San Benito, Siskiyou, Solano, Stanislaus
# State of Oregon, Tehama, Tulare, Tuolumne, Ventura, Yolo,


df_cal_fire['Counties'] = df_cal_fire['Counties'].str.replace('Alameda', 'San Francisco Bay')

regions_list = {'SanFranciscoBay': sf_bay, 'CentralCal': cent_cal, 'SacramentoValley': sac_valley, 
                'NorthCoastValleys': north_coast, 'InlandSoCal': in_so_cal, 'LosAngelesBasin': la_basin, 
                'GreatBasin': great_basin, 'SierraFoothill': sierra_nv, 'SouthCoastValleys': so_coast, 
                'CentralCoastValleys': cent_coast, 'ShastaCascade': shasta_cas}

for region_name in regions_list:
    for county in regions_list[region_name]:
        # FIXME
        df_cal_fire['Counties'] = df_cal_fire['Counties'].str.replace(county, region_name)

unique_regions = (df_cal_weather['CIMIS Region'].unique())
print(sorted(unique_regions))
unique_counties = (df_cal_fire['Counties'].unique())
print(sorted(unique_counties))

['Bishop', 'Central Coast Valleys', 'Eastern Sierra Basin & Range', 'Imperial/Coachella Valley', 'Los Angeles Basin', 'Monterey Bay', 'North Coast Valleys', 'Northeast Plateau', 'Sacramento Valley', 'San Bernardino', 'San Francisco Bay', 'San Joaquin Valley', 'Sierra Foothill', 'South Coast Valleys']
['Alpine', 'Calaveras', 'CentralCal', 'CentralCoastValleys', 'Colusa', 'Contra Costa', 'Del Norte', 'El Dorado', 'Glenn', 'GreatBasin', 'InlandSoCal', 'Inyo', 'Kings', 'Lake', 'Lassen', 'LosAngelesBasin', 'Madera', 'Mariposa', 'Merced', 'Mexico', 'Mono', 'NorthCoastValleys', 'Placer', 'Plumas', 'Riverside', 'Sacramento', 'SacramentoValley', 'San Benito', 'San Francisco Bay', 'San Joaquin', 'SanFranciscoBay', 'ShastaCascade', 'SierraFoothill', 'SierraFoothillFoothill', 'Siskiyou', 'Solano', 'SouthCoastValleys', 'Stanislaus', 'State of Oregon', 'State of SierraFoothillFoothill', 'Tehama', 'Tulare', 'Tuolumne', 'Ventura', 'Yolo']

In [3]:
#import CIMIS station data, drop Stn Name(duplicate with CA weather) and Status(irrelevant)
df_cimis = pd.read_csv('data/cimis_stations.csv', names=['Stn Id', 'Stn Name', 'Counties', 'Status'])
df_cimis = df_cimis[['Stn Id','Counties']]

#combine CIMIS data with CA weather data (CIMIS data has counties that are in the same format as in CA fire)
df_weather_with_counties = pd.merge(df_cal_weather,df_cimis, on = ['Stn Id'])

#combine matching entries of CA fire and CA weather by County, month, and year
df_CA_merged = pd.merge(df_cal_fire,df_weather_with_counties, how = 'inner', on = ['Counties','month','year'])

df_CA_merged